// _config.scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  color: gold;
}

h1 {
  font-size: 4.3em;
  margin-top: 20px;
  margin-bottom: 35px;
  line-height: 1em;
}

h2 {
  font-size: 2.5em;
  margin-top: 5px;
  margin-bottom: 15px;
}

h4 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.4em;
  border-left: 5px solid gold;
  padding-left: 10px;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 0;
}

p {
  color: white;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 20px; /* Set font size for paragraphs */
}

span {
  color: white;
  margin-right: 10px;
}

.h5_h2_p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 20px;
  text-align: center;
}
$page-background-color: #230b0b; // Page background color

//input Properties
$input-border: 1px solid gold; // Input border
$input-background-color: transparent; // Input background color
$input-padding: 15px 20px; // Input padding
$input-width: 60%; // Input width

// Button Properties
$button-background-color: transparent; // Button background color
$button-text-color: gold; // Button text color
$button-border-radius: 4px; // Button border radius
$button-padding: 15px 20px;
$button-font-size: 16px; // Button font size
$button-border: 2px solid gold; // Button border
$button-hover-background-color: gold; // Button background color on hover
$button-hover-border-color: #fff; // Button border color on hover
$button-hover-text-color: #000; // Button text color on hover
$button-width: 200px; // Button width
$button-margin-top-bottom: 20px 0;

// Button styles
.button {
  background-color: $button-background-color;
  color: $button-text-color;
  border-radius: $button-border-radius;
  padding: $button-padding;
  font-size: $button-font-size;
  border: $button-border;
  margin: $button-margin-top-bottom;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  width: $button-width;

  &:hover {
    background-color: $button-hover-background-color;
    border-color: $button-hover-border-color;
    color: $button-hover-text-color;
  }
}

// Input styles
.input {
  border: $input-border;
  background-color: $input-background-color;
  padding: $input-padding;
  width: $input-width;
}

a {
  text-decoration: none;
}

//Animation
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
