// _config.scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  color: gold;
}

h1 {
  font-size: 4.3em;
  margin-top: 20px;
  margin-bottom: 35px;
  line-height: 1em;
}

h2 {
  font-size: 2.5em;
  margin-top: 5px;
  margin-bottom: 15px;
}

h4 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.4em;
  border-left: 5px solid gold;
  padding-left: 10px;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 0;
}

p {
  color: white;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 20px; /* Set font size for paragraphs */
}

span {
  color: white;
  margin-right: 10px;
}

.h5_h2_p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 20px;
  text-align: center;
}
$page-background-color: #230b0b; // Page background color

//input Properties
$input-border: 1px solid gold; // Input border
$input-background-color: transparent; // Input background color
$input-padding: 15px 20px; // Input padding
$input-width: 60%; // Input width

// Button Properties
$button-background-color: transparent; // Button background color
$button-text-color: gold; // Button text color
$button-border-radius: 4px; // Button border radius
$button-padding: 15px 20px;
$button-font-size: 16px; // Button font size
$button-border: 2px solid gold; // Button border
$button-hover-background-color: gold; // Button background color on hover
$button-hover-border-color: #fff; // Button border color on hover
$button-hover-text-color: #000; // Button text color on hover
$button-width: 200px; // Button width
$button-margin-top-bottom: 5px 0;

// Button styles
button {
  // background-color: $button-background-color;
  color: $button-text-color;
  border-radius: $button-border-radius;
  padding: $button-padding;
  font-size: $button-font-size;
  border: $button-border;
  margin: $button-margin-top-bottom;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  width: $button-width;

  &:hover {
    background-color: $button-hover-background-color;
    border-color: $button-hover-border-color;
    color: $button-hover-text-color;
  }
}

// Input styles
.input {
  border: $input-border;
  background-color: $input-background-color;
  padding: $input-padding;
  width: $input-width;
}

a {
  text-decoration: none;
}

//Animation
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// .modal-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1000; /* Ensure it's on top of other elements */
// }

// .receipt-modal {
//   background-color: #fff;
//   color: black;
//   width: 70%; /* Set modal width to 40% */
//   padding: 20px;
//   border-radius: 8px;
//   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
//   max-height: 90vh; /* Prevent modal from becoming too large */
//   overflow-y: auto; /* Allow scrolling if content overflows */
//   z-index: 1001; /* Ensure modal content is on top of overlay */
// h2 {
//   text-align: center;
//   margin-bottom: 20px;
// }

// p {
//   font-size: 14px;
//   color: black;
//   margin: 10px 0;
// }
// }

// strong {
//   font-weight: bold;
// }

// .receipt-buttons {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 20px;
// }

// button {
//   padding: 10px 20px;
//   font-size: 16px;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
//   width: 30%; /* Ensure buttons do not overlap */
// }

// .btn-print {
//   background-color: #4CAF50; /* Green for print */
//   color: white;
// }

.btn-print:hover {
  background-color: #45a049;
}

.btn-download {
  background-color: #008cba; /* Blue for download */
  color: white;
}

.btn-download:hover {
  background-color: #007bb5;
}

.btn-share {
  background-color: #f44336; /* Red for share */
  color: white;
}

.btn-share:hover {
  background-color: #e6362c;
}

.btn-close {
  background-color: #999; /* Gray for close */
  color: white;
}

.btn-close:hover {
  background-color: #777;
}

.close-button {
  position: absolute;
  top: 155px;
  right: 110px;
  background-color: red;
  color: white;
  border: none;
  padding: 12px; /* Adjust padding for better size */
  font-size: 18px;
  cursor: pointer;
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  border-radius: 20%; /* Make it perfectly circular */
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: darkred;
}
//  .edit-btn {
//     background-color: rgb(244, 185, 6);
//  }

.delete-btn {
  background-color: rgb(123, 9, 9);
  border-color: transparent;
  width: 100%;

  &:hover {
    background-color: rgb(181, 11, 11);
    // border-color: $button-hover-border-color;
    color: rgb(255, 255, 255);
  }
}

.update-btn {
  background-color: rgb(22, 41, 183);
  border-color: transparent;
  width: 100%;
  // color:rgb(83, 4, 4);

  &:hover {
    background-color: rgb(83, 4, 4);
    // border-color: $button-hover-border-color;
    color: rgb(25, 189, 7);
  }
}

.submit-btn {
  background-color: #562222;
  border-color: transparent;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;

  &:hover {
    background-color: rgb(83, 4, 4);
    border-color: rgb(25, 189, 7);
    color: rgb(25, 189, 7);
  }
}

.search-btn {
  background-color: rgb(34, 146, 17);
}

.date {
  width: 100%;
  padding: 10px;
}
