@import "../scss/config";

@media only screen and (min-width: 768px) {
  #blog_update {
    width: 75%;
    margin: auto;
    #blog_text {
      display: flex;
      justify-content: space-between;
      align-items: last baseline;
      margin-top: 100px;
      h5, h2, p {
        margin-left: 0;
      }
      > div {
        display: flex;
        // justify-content: space-between;
        align-items: flex-start;
        // background-color: green;

      }
    }
    #blog_content {
      display: flex;
      justify-content: space-between;
      #blog_card1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: rgb(52, 72, 83);
        width: 44%;
        padding: 20px;
        > img {
          width: 100%;
          // height: 35vh;
        }
        p {
          margin-bottom: 0;
        }
      }

      .date_icon {
        display: flex;
        align-content: flex-start;
        align-items: center;
        margin-top: 10px;
        img {
          height: 2vh;
          margin-right: 5px;
        }
      }

      #blog_card2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 51%;
        height: 29vh;
        .blog_card2_item {
          display: flex;
          background-color: rgb(52, 72, 83);
          img {
            // width: 50%;
            height: 27vh;
            padding: 10px;
          }
          .blog_update_text {
            display: flex;
            flex-direction: column;
            // margin: 0px 20px 20px 0px;
            width: 50%;
            // padding: 10px 0px 0px 0px;
            .date_icon {
              display: flex;
              align-content: flex-start;
              align-items: center;
              margin-top: 10px;

              img {
                width: 8%;
                height: 2vh;
                padding: 0;
                // margin: 0;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #blog_update {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    // width: 100%;
    margin-bottom: 320px;
    color: white;
    #blog_text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .blog_text {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // padding: 20px 20px 0px;
      // text-align: center;
      // h2 {
      //   margin: 0;
      // }
    }
    #blog_content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      #blog_card1 {
        display: flex;
        flex-direction: column;
        background-color: rgb(52, 72, 83);
        padding: 10px;
        > img {
          max-width: 100%;
        }
      }
      .date_icon {
        display: flex;
        align-content: flex-start;
        align-items: center;
        margin-top: 10px;
        img {
          height: 2vh;
          margin-right: 5px;
        }
      }

      #blog_card2 {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-content: center;
        gap: 10px;
        width: 100%;
        margin: auto;
        height: 104vh;
        // padding: 10px;
        .blog_card2_item {
          display: flex;
          flex-direction: column;
          background-color: rgb(52, 72, 83);
          padding: 10px;
          // background-color: rgb(8, 162, 245);
          img {
            // width: 100%;
            // height: 27vh;
            // padding: 10px;
          }
          .blog_update_text {
            display: flex;
            flex-direction: column;
            // margin: 0px 20px 20px 0px;
            // background-color: red;
            width: 100%;
            // padding: 10px;
            .date_icon {
              display: flex;
              align-content: flex-start;
              align-items: center;

              img {
                width: 8%;
                height: 2vh;
                padding: 0;
                margin: 0;
              }

              // > p {
              //   margin: 0;
              // }

              // ~ p {
              //   font-size: 1em;
              //   margin-top: 10px;
              // }
            }
            // h1 {
            //   font-size: 1.17em;
            //   margin-top: 10px;
            //   margin-bottom: 0;
            //   padding: 20px 0px 0px 0px;
            //   color: gold;
            //   font-weight: bold;
            // }
          }
        }
      }
    }
  }
}
