@import "../scss/config";

@media only screen and (min-width: 769px) {
  #about {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 100px;

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr; // Two equal columns
      grid-template-rows: repeat(2, 300px); // Two rows with equal height
      gap: 10px; // Space between grid items
      margin-bottom: 100px;

      .grid-item {
        overflow: hidden;

        img.responsive_image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      // Left Column - Top Image
      .grid-left-top {
        grid-column: 1 / 2; // First column
        grid-row: 1 / 2; // First row
      }

      // Left Column - Bottom Image
      .grid-left-bottom {
        grid-column: 1 / 2; // First column
        grid-row: 2 / 3; // Second row
      }

      // Right Column - One Image Spanning Both Rows
      .grid-right {
        grid-column: 2 / 3; // Second column
        grid-row: 1 / 3; // Spans both rows
      }
    }

    #about_text {
      width: 70%;
      margin-top: 2rem;
      text-align: center;

      // h5 {
      //   font-size: 1.2rem;
      //   color: #555;

      //   span {
      //     font-weight: bold;
      //   }
      // }

      // h2 {
      //   font-size: 2rem;
      //   margin: 10px 0;
      // }

      // p {
      //   font-size: 1rem;
      //   line-height: 1.5;
      //   margin-bottom: 20px;
      // }
    }
  }
}

@media only screen and (max-width: 768px) {
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    margin: 0;
    padding: 10px;
  }

  .grid-container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // gap: 10px;
    width: 100%;
    margin: 0;
    // margin: 10px;
  }

  .grid-container img {
    width: 100%;
    height: 50vh; /* Set a fixed height for mobile screens */
    object-fit: cover; /* Ensure the image covers the entire container and crops the excess */
    // padding: 10px;
  }

  // #about_text {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   margin: 5px 20px;
  //   text-align: center;
  // }
}
