@import "../scss/config";

@media only screen and (min-width: 768px) {
  #contactContainer {
    background-color: $page-background-color;
    width: 100%;
    #contact {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 75%;
      margin: auto;
      padding-top: 50px;
      #contact_text {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
      .form {
        display: flex;
        flex-direction: column;
        width: 45%;
        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          // gap: 20px;
          margin: 0;
          width: auto;
          > div {
            display: flex;
            gap: 10px;
            width: 100%;
            margin: 0;
            padding: 0;
            // width: auto;
            // background-color: green;
            .input {
              width: 100%;
              margin: 0;
            }
          }
          .input {
            margin-bottom: 20px;
            background-color: #1a1a1b;
            margin: 20px 0px 20px;
            width: auto;
          }

          textarea {
            height: 12vh;
            text-align: left;
            padding: 10px;
            width: 100%;
            background-color: #1a1a1b;
            width: auto;
          }
          button {
            // width: 60%;
          }
        }
      }
    }
  }
  #contactCardContainer {
    width: 75%;
    margin: auto;
    #contactCardContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding-top: 150px;
      .contactCard {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        width: 29%;
        height: 25vh;
        color: #ffffff;
        border: 1px solid #ffffff;
        text-align: left;

        h3 {
          font-size: 2em;
          margin-bottom: 20px;
        }
        p {
          font-size: 1.5em;
        }

        hr {
          border: 1px solid grey;
          width: 60%;
          margin-bottom: 30px;
          margin-left: 0;
        }
      }
    }
    .icon_label {
      margin-right: 20px;
      font-size: 1em;
    }
  }
  .map_container {
    height: 400px; // Adjust the height as needed
    margin-top: 200px;
  }
}
@media only screen and (max-width: 768px) {
  #contactContainer {
    background-color: $page-background-color;
    display: flex;
    flex-direction: column;
    // width: auto;
    // margin: 0;
    #contact {
      display: flex;
      flex-direction: column;
      // align-items: center;
      text-align: center;
      margin: 10px;
      #contact_text {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          // gap: 20px;
          margin: 0;
          width: auto;
          > div {
            display: flex;
            flex-direction: column;
            // gap: 10px;
            width: 100%;
            margin: 0 auto;
          }
          .input {
            margin-bottom: 20px;
            background-color: #1a1a1b;
            margin: 10px 0px 10px;
            width: auto;
          }

          textarea {
            height: 12vh;
            text-align: left;
            padding: 10px;
            width: 100%;
            background-color: #1a1a1b;
            width: auto;
                      margin: 10px 0px 10px;
}
          button {
            width: 60%;
            margin: 20px auto;
          }
        }
      }
    }
  }
  #contactCardContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    #contactCardContent {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      align-items: center;
      gap: 15px;
      // align-content: center;
      padding-top: 100px;
      margin: 10px;
      // width: 100%;
      .contactCard {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        width: 100%;
        height: 20vh;
        color: #ffffff;
        border: 1px solid #ffffff;
        text-align: center;
        // background-color: green;

        h3 {
          font-size: 2em;
          margin-bottom: 20px;
        }
        p {
          font-size: 1.5em;
        }

        hr {
          border: 1px solid grey;
          width: 60%;
          margin-bottom: 30px;
          margin-left: 0;
        }
      }
    }
    .icon_label {
      margin-right: 20px;
      font-size: 1em;
    }
  }
  .map_container {
    height: 400px; // Adjust the height as needed
    margin-top: 200px;
    width: 100%;
  }
  .map_container {
    height: 400px; // Adjust the height as needed
    margin-top: 200px;
  }
}
