@import "../scss/config";

@media only screen and (min-width: 768px) {
  #our_record {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #474242;
    padding: 40px 0;
    margin-bottom: 100px;
    flex-wrap: wrap;
    animation: fadeInSlideUp 1s ease-in-out;

    .our_record_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      // background-color: red;

      & h1 {
        padding: 0;
        margin: 0;
        font-size: 4em;
        color: gold;
      }

      & p {
        padding: 0;
        margin: 0;
        font-size: 1.5em;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #our_record {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #474242;
    padding: 40px 0;
    margin: 0;
    flex-wrap: wrap;

    .our_record_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      // background-color: red;

      & h1 {
        padding: 0;
        margin: 0;
        font-size: 4em;
        color: gold;
      }

      & p {
        padding: 0;
        margin: 0;
        font-size: 1.5em;
      }
    }
  }
}
