@import "../scss/config";

@media only screen and (min-width: 768px) {
  #gallery {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    // background-color: blue;
    #gallery_text {
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: last baseline;
      width: 100%;
    }
    #gallery_container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      width: 100%;

      #gallery_content2 {
        display: flex;
        flex-direction: column;
      }
      #gallery_content3 {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
  #gallerySliderContainer {
    margin-top: 50px;
    // margin-bottom: 50px;
  }
  .sliding-gallery-container .slick-slide {
    display: flex !important; /* Ensure the slides take up full width */
  }

  .gallery-image {
    width: 400px; /* Ensure the image takes up full width of the slide */
    height: 400px; /* Ensure the image takes up full height of the slide */
    object-fit: cover; /* Ensure the image fills the container while maintaining aspect ratio */
  }
  // #gallery {
  //   // Your existing styles
  // }

  .instagram-feed {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .instagram-post {
    // border: 1px solid #ddd;
    padding: 10px;
    width: calc(33% - 40px);

    img {
      // width: 400px;
      // height: 400px;
      // background-color: green;
      // padding: 30px;
      border-radius: 10px;
    }
  }

  .instagram-post img,
  .instagram-post video {
    width: 100%;
    height: auto;
  }

  .instagram-post p {
    margin: 10px 0;
  }

  .instagram-post a {
    display: block;
    color: #0073e6;
    text-decoration: none;
  }

  .instagram-post a:hover {
    text-decoration: underline;
  }
}

// mobile view
@media only screen and (max-width: 768px) {
  #gallery {
    display: flex;
    flex-direction: column;
    // width: 100%;
    margin: 10px;
    text-align: center;
    align-items: center;

    #gallery_container {
      display: flex;
      // justify-content: center;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      #gallery_content {
        img {
          width: 100%;
        }
      }
    }
  }
}
