@import "../scss/config";

@media only screen and (min-width: 768px) {
  #myPortfolio {
    background-color: $page-background-color;
    // background-color: green;

    #myPortfolio_text {
      padding-top: 100px;
      display: flex;
      justify-content: space-between;
      align-items: last baseline;
      text-align: left;
      width: 75%;
      margin: auto;
      z-index: 5000;
      color: white;
      // background-color: yellow;
      animation: slideInFromLeft 1s ease-in-out;

      > div h5 {
        font-size: 1.5em;
        padding-left: 10px;
        margin-top: 50px;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;

        span {
          color: rgb(255, 255, 255);
          margin-right: 10px;
          margin-left: 10px;
        }
      }

      h1 {
        font-size: 3.5em;
        color: gold;
        padding: 0;
        margin: 0;
      }
    }

    #myPortfolio_content {
      .grid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-bottom: 100px;
        animation: fadeInSlideUp 1s ease-in-out;

        & iframe {
          transition: transform 0.5s ease-in-out;

          &:hover {
            transform: scale(1.04);
          }
        }
      }
    }
  }
}

// mobile view
@media only screen and (max-width: 768px) {
  #myPortfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $page-background-color;
    color: white;
    // width: auto;
    // margin: 0;

    #myPortfolio_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // width: 100%;
      // margin: auto;
      text-align: center;
    }

    #myPortfolio_content {
      display: flex;
      flex-direction: column;
      // align-items: center; /* Center the video items horizontally */
      // width: auto;
      // margin: 10px;
    }
  }
}
