@import "../scss/config";

@media only screen and (min-width: 768px) {
  #footer_body {
    color: white;
    z-index: 1;
    // height: 50vh;
    // padding: 10px;
    .footer_body_content {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // padding-top: 0;
      // margin-top: 0;

      #footer1 {
        display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        gap: 30px;
        width: 75%;
        margin: auto;
        padding-top: 150px;
        padding-bottom: 30px;
        .footer1_item {
          width: 30%;
          // background-color: red;
          ul {
            margin: 0;
            li {
              list-style-type: none;
              position: relative; /* Set position to relative for pseudo-element */
              padding-left: 0; /* Add padding for arrow */
              margin-bottom: 3px; /* Add margin between list items */

              &:before {
                content: "\2192"; /* Unicode arrow character (→) */
                position: absolute;
                left: -35px;
              }
            }
          }
          ~ div {
            padding: 0px 10px 0px 10px;
            > div {
              gap: 10px;
              span {
                margin-left: 10px;
              }
              margin-bottom: 15px;
            }
          }
        }
      }
      #copyright {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 75%;
        margin: auto;
        // margin: auto;
        // text-align: center;
        border-top: 1px solid #ffffff;
        // margin: 0px 20px;
        // margin: 10px;
        // background-color: #02fa86;
        padding: 30px 0px 30px;
        p {
          margin: 0;
          
        }
        > div {
          display: flex;
          justify-content: center;
          gap: 20px;
          align-items: center;
        }
      }
    }
    .footer1_item {
      width: 33%;
    }
  }
}

@media only screen and (max-width: 768px) {
  #footer_body {
    position: relative;
    width: 100%;
    color: white;
    height: 99vh;
    background-color: #230b0b;
    margin-top: 50px;
    .footer_body_content {
      display: flex;
      flex-direction: column;
      background-color: #230b0b;
      align-items: center;
      // width: 100%;
      // #newsletter {
      //   display: flex;
      //   justify-content: center;
      //   align-content: center;
      //   // background-color: green;
      //   // width: 100%;
      //   margin: auto;
      //   padding: 0;
      //   // position: relative;
      //   // top: -50px;
      // }
      #footer1 {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // background-color: red;
        width: 100%;
        margin: auto;
        padding-top: 0;
        margin-bottom: 30px;
        padding: 10px;
        .footer1_item {
          width: 90%;
          ul {
            margin: 0;
            li {
              list-style-type: none;
              position: relative; /* Set position to relative for pseudo-element */
              padding-left: 0; /* Add padding for arrow */
              margin-bottom: 3px; /* Add margin between list items */

              &:before {
                content: "\2192"; /* Unicode arrow character (→) */
                position: absolute;
                left: -35px;
              }
            }
          }
        }
      }
    }
    #copyright {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      margin: auto;
      // text-align: center;
      border-top: 1px solid #ffffff;
      // margin: 0px 20px;
      // margin: 10px;
      padding: 30px;
      // background-color: #02fa86;
    }
  }
}
