@import "../scss/config";

@media only screen and (min-width: 768px) {
  #testimonials {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 75%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;

    > div {
      // display: flex;
      align-items: flex-start;
      text-align: left;
      width: 40%;
      // padding-top: 0;
      // margin-top: 0;
animation: slideInFromLeft 1s ease-in-out;
    }

    #testimonial_card_container {
      width: 55%;
      .testimonial_card {
        #rating {
          background-color: green;
        }
        p {
          margin-top: 10px;
          // background-color: green;
        }
      }
      .slider {
        margin-left: 50px;
        .testimonial_card {
          display: flex;
          flex-direction: column;
          background-color: rgb(56, 60, 71);
          max-width: 90%;
          padding: 10px;

          // > p {
          //   font-size: 1em;
          // }

          .testimonial_image_byline {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            margin-top: 50px;

            img {
              border-radius: 50px;
            }

            .testimonial_byline {
              h4 {
                padding: 0;
                margin: 0;
              }

              p {
                padding: 0;
                margin: 5px 0px;
              }
            }
          }
        }
      }
    }
    .slick-prev {
      color: green;
    }
    // Add styles to make the dots visible
    .slick-dots {
      display: block !important; /* Ensure dots are displayed */
      list-style: none;
      text-align: center;
      padding: 0;
    }
    li {
      display: inline-block;
      margin: 0 5px;
    }

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      // margin-top: 150px;
    }

    .slick-active button {
      background-color: gold;
    }
  }
}

@media only screen and (max-width: 768px) {
  #testimonials {
    display: flex;
    flex-direction: column;
    width: 100%;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    #testimonial_card_container {
      margin: 0;
      background-color: rgb(56, 60, 71);
      padding: 20px;
      .slider {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        width: 100%;
        padding: 15px;
        background-color: rgb(56, 60, 71);

        .testimonial_card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: rgb(56, 60, 71);

          .testimonial_image_byline {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 50px;

            img {
              border-radius: 50px;
              width: 30%;
            }
          }
        }
      }

      #starRating {
        padding: 20px 0px;
      }
    }

    .slick-dots {
      display: block !important; /* Ensure dots are displayed */
      list-style: none;
      text-align: center;
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 0 5px;
    }

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      margin-top: 150px;
    }

    .slick-slider button {
      visibility: hidden;
    }

    .slick-active button {
      background-color: gold;
    }

    .slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .slick-slide img {
      // display: block;
      margin: 0 auto; /* Center the image */
      border-radius: 50%;
      width: 30%;
    }
  }
}
