@import "../scss/config";

@media only screen and (min-width: 768px) {
  #banner_cont {
    #HomeBannerContainer {
      background-color: #230b0b;
      color: white;
      #banner {
        #HomeBannerText {
          // display: flex;
          // justify-content: flex-start;
          // align-items: flex-start;
          text-align: left;
          // background-color: greenyellow;
          // margin-bottom: 100px;
          // display: flex;
          // flex-direction: column;
          width: 50%;
          position: relative;
          top: 10%;
          left: 5%;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #HomeBannerContainer {
    display: flex;
    flex-direction: column;
    background-color: #230b0b;
    padding-bottom: 100px;
    color: white;
    margin-bottom: 100px;
    #Banner {
      // margin-bottom: 100px;
      #HomeBannerText {
        // background-color: greenyellow;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // width: 100%;
        // margin: auto;
        // text-align: center;
        // margin-top: 100px;

        // h1 {
        //   font-size: 2.9em;
        //   color: gold;
        // }
        // p {
        //   font-size: 1.2em;
        //   line-height: 1.5em;
        //   color: white;
        // }
      }
    }
  }
}
