@import "../scss/config";

@media only screen and (min-width: 768px) {
  #MenuBannerContainer {
    background-color: #230b0b;
    color: white;
    width: 100%;
    #MenuBannerText {
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin: auto;
      text-align: center;

      h1 {
        font-size: 2.9em;
        color: gold;
      }
      p {
        font-size: 1.2em;
        line-height: 1.5em;
        color: white;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #MenuBannerContainer {
    display: flex;
    flex-direction: column;
    background-color: #230b0b;
    color: white;
    #MenuBanner {
      // margin-bottom: 100px;
      #MenuBannerText {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // width: 100%;
        // margin: auto;
        // text-align: center;
        // margin-top: 100px;

        // h1 {
        //   font-size: 2.9em;
        //   color: gold;
        // }
        // p {
        //   font-size: 1.2em;
        //   line-height: 1.5em;
        //   color: white;
        // }
      }
    }
  }
}
