@import "../scss/config";

@media only screen and (min-width: 769px) {
  #nav_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    // width: 60%;
    padding: 30px;

    .logo {
      height: 50px;
    }

    nav {
      ul {
        display: flex;
        list-style: none;
        margin: 0;

        li {
          margin: 0 10px;

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              color: gold;
            }
          }
        }
      }
    }
  }

  .mobile_breadcrumb {
    display: none;
  }
}

/* nav.scss */

@media only screen and (max-width: 769px) {
  #nav_container {
    display: flex;
    // justify-content: space-between;
    justify-items: center;
    align-content: space-around;
    gap: 150px;
    margin: 20px;

    .logo {
      color: #f00;
      width: 180px;

      img {
        margin: 0;
        padding: 0;
      }
    }

    nav {
      width: 90%;
      height: 100%; /* Set height to 100% of viewport height */
      background-color: rgb(31, 53, 82);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5000;
      font-weight: 900;

      ul {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: flex-start;
        list-style: none;
        margin-top: 80px;

        li {
          margin: 10px 10px;

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              color: gold;
            }
          }
        }
      }
    }
  }

  .navbar {
    display: none;

    &.show {
      display: block;
      height: 100%; /* Set height to 100% of viewport height */
    }

    & close::content {
    }
  }

  .mobile_breadcrumb {
    display: block;
    position: relative;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 5000;
  }
}
