@import "../scss/config";

.rent-btn {
  background-color: rgb(9, 123, 64);
  border-color: transparent;
  // color:rgb(83, 4, 4);
  width: 100%;
  box-sizing: border-box; /* Padding and border included in width */
  color: $button-text-color;

  &:hover {
    background-color: rgb(181, 11, 11);
    // border-color: $button-hover-border-color;
    color: rgb(17, 204, 229);
  }
}
