@import "../scss/config";

@media only screen and (min-width: 769px) {
  #banner_cont {
    // background-color: blue;
    margin-bottom: 100px;
    #banner {
      color: #fcfbfb;
      // background-color: blue;
      #social_icons_container {
        > div {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        display: flex;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        .social-icon {
          display: flex;
        }
      }
      .banner_text {
        // background-color: blue;
        position: absolute;
        top: 50%;
        left: 42%;
        transform: translate(-50%, -50%);
        text-align: left;
        width: 50%;
        & h5 {
          font-size: 1.8em;
        }

        & h1 {
          font-size: 5.9em;
        }

        // & p {
        //   font-size: 1em; /* Set font size for paragraphs */
        // }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #banner_cont {
    #banner {
      position: relative;
      #social_icons_container {
        > div {
          display: flex;
          gap: 10px;
        }
        position: absolute;
        top: 22%;
        left: 27%;
        font-size: 1.5em;
        .social-icon {
          display: flex;
        }
      }
      .banner_text {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}
