@import "../scss/config";

@media only screen and (min-width: 768px) {
  #banner_cont {
    #banner {
      height: 50vh;
      animation: fadeInSlideUp 1s ease-in-out;
      #social_icons_container {
        font-size: 1.5em;

        > div {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        position: absolute;
        top: 8%;
        left: -7%;
        animation: slideInFromLeft 1s ease-in-out;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #banner_cont {
    #banner {
      position: relative;
      margin-top: 50px;
      #social_icons_container {
        > div {
          display: flex;
          gap: 10px;
        }
        position: absolute;
        top: 0%;

        .social-icon {
          display: flex;
        }
      }
      .banner_text {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}
