@import "../scss/config";

@media only screen and (min-width: 769px) {
  #why_choose_us {
    display: flex;
    gap: 60px;
    width: 75%;
    margin: auto;

    #why_choose_us_text {
      width: 40%;
      text-align: left;
      align-items: flex-start;

      & h5 {
        margin: 0;
        font-size: 1.5em;
        color: rgb(250, 185, 7);

        span {
          color: white;
          margin-right: 10px;
        }

        animation: slideInFromLeft 1s ease-in-out;
      }

      & h2 {
        color: rgb(250, 185, 7);
        font-size: 3.5em;
        padding: 0;
        margin: 0;
        animation: slideInFromLeft 1s ease-in-out;
      }

      & p {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 1.2em;
        animation: slideInFromLeft 1s ease-in-out;
      }
    }

    .skills {
      text-align: left;
      width: 100%;
      animation: fadeInSlideUp 1s ease-in-out;
    }

    #why_choose_us_card_container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      width: 60%;

      #why_choose_us_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        border: 1px solid #f0f0f0;
        padding: 20px 20px 0 20px;
        text-align: center;
        animation: fadeInSlideUp 1s ease-in-out;
        transition: transform 0.5s ease-in-out;

        &:hover {
          transform: scale(1.04);
        }

        img {
          width: 50px;
          margin-bottom: 10px;
        }
        // & h3 {
        //   font-size: 1.8rem;
        //   font-weight: 700;
        //   margin-bottom: 10px;
        //   padding: 0;
        //   margin: 0;
        //   width: 100%;
        //   text-wrap: wrap;
        // }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #why_choose_us {
    // gap: 60px;
    // width: 100%;
    // margin: auto;
    padding: 10px;

    #why_choose_us_text {
      .skills {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
      }
    }

    #why_choose_us_card_container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      width: 100%;

      #why_choose_us_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 1px solid #f0f0f0;
        padding: 20px 20px 0 20px;
        text-align: center;
        margin-top: 20px;

        img {
          width: 50px;
        }
      }
    }
  }
}
